

      <style>
      #inline {
          display:inline;
      }
      </style>

</head>
<body>
<div class="container" style="margin-top:100px">
	  <hr>
      서비스: <%= @extendp.type1_post_p %> <br>
            <%= @extendp.type2_post_p %> <br>
      이름: <%= @extendp.name_post_p %> <br>
      지역: <%= @extendp.location_post_p %> <br>
      아기나이: <%= @extendp.age_post_p %> <br>
      <p>가능한 시간</p>
      <%= @extendp.time1_post_p %><br>
      <%= @extendp.time2_post_p %><br>
      <%= @extendp.time3_post_p %><br>
      주의사항: <%= @extendp.care_post_p %> <br>

      <hr>

  </div>
</body>
