

      <style>
      #inline {
          display:inline;
      }
      </style>

</head>
<body>
<div class="container" style="margin-top:100px">
	      <hr>
      서비스: <%= @extendn.type1_post_n %> <br>
            <%= @extendn.type2_post_n %> <br>
      이름: <%= @extendn.name_post_n %> <br>
      지역: <%= @extendn.location_post_n %> <br>
      아기나이: <%= @extendn.age_post_n %> <br>
      <p>가능한 시간</p>
      <%= @extendn.time1_post_n %><br>
      <%= @extendn.time2_post_n %><br>
      <%= @extendn.time3_post_n %><br>
      <hr>

  </div>
</body>
