    <style>
body{
    margin-top:40px;
}

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
    </style>
</head>

<body>
<div class="container" style="margin-top:100px;">

 <form class="ac-custom ac-checkbox ac-checkmark" role="form" autocomplete="off" action="/update_change3/<%= @nanny.id %>" method="POST" enctype="multipart/form-data">
  <CENTER>
    <hr class="long">
  </CENTER>
          <div class="col-lg-12 col-md-6 text-center">
                <CENTER>
                <h3>서비스타입</h3>
                <p>필요한 서비스를 선택해주세요!</p>
                </CENTER>
                    <div class="col-lg-6 col-md-6 text-center">
                      <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary"></i>
                        <h3>엑티비티</h3>
                          <ul>
                          <li><input id="cb1" name="type1" type="checkbox" value="<%= @nanny.type1_post_n %>"><label for="cb1">밖에서 아이들과 다양한 활동을하며 놀아주는 서비스입니다</label></li>
                      </ul>
                      </div>
                    </div>
                      <div class="col-lg-6 col-md-6 text-center">
                      <div class="service-box">
                          <i class="fa fa-4x fa-heart wow bounceIn text-primary"></i>
                          <h3>홈케어</h3>
                           <ul>
                            <li style="width:400px"><input id="cb2" name="type2" type="checkbox" value="<%= @nanny.type2_post_n %>"><label for="cb2">기존의 베이비시터의 개념으로, 집에서 아이를 돌봐주는 서비스입니다</label></li>
                             </ul>
                    </div>
                    </div>
                </div>




      <div class="col-lg-12 col-md-6 text-center">
        <div class="form-group">
            <CENTER>
            <hr class="long">
            <h3>지역선택</h3>
            <p>출장 가능 지역을 정해주세요!</p>

            <select class="selectpicker form-control" id="location" onchange="addElement(this.value)" name="location" required="true"  style="width: 150px;" value="<%= @nanny.location_post_n %>">
               <option disabled="disabled" selected="selected">지역선택</option>
               <option value="서울">서울</option>
               <option value="경기">경기</option>
               <option value="강원">강원</option>
               <option value="충북">충북</option>
               <option value="전북">전북</option>
               <option value="전남">전남</option>
               <option value="경북">경북</option>
               <option value="경남">경남</option>
               <option value="제주">제주</option>
            </select>
             <input type="hidden" value="0" id="theValue" />
              <div id="myDiv" class="hide"><input type="text">
              </div>
            </CENTER>

          </div>
        </div>




      <div class="col-lg-12 col-md-6 text-center">
          <div class="form-group">
              <CENTER>
                <hr class="long">
                  <h3>성함</h3>
                <p>성함을 알려주세요</p>

                   <input style="font-size:15px; width:150px;" type="text" class="form-control" id="name_id" name="name" placeholder="이름" value="<%= @nanny.name_post_n%>">
                </CENTER>
           </div>
      </div>



      <div class="col-lg-12 col-md-6 text-center">
        <div class="form-group">
              <CENTER>
                <hr class="long">
                  <h3>나이</h3>
                <p>나이를 알려주세요</p>
                 <input style="font-size:15px; width:150px;" type="number" class="form-control" id="age_id" name="age"placeholder="나이" value="<%= @nanny.age_post_n %>">
                </CENTER>
        </div>
      </div>



    <div class="col-lg-12 col-md-6 text-center">
       <div class="form-group">
        <CENTER>
                <hr class="long">
                <h3>서비스 가능 시간</h3>
                <p>내니서비스를 제공할 선택해주세요</p>
        </CENTER>
        <div class="service-box" style="padding-left:30px">
            <ul>
            <li><input id="cb3" type="checkbox" name="time2" value="12pm~4pm"><label for="cb3">아침 (대략 8am~12pm) </label></li> <br>
            <li><input id="cb4" type="checkbox" name="time2" value="12pm~4pm"><label for="cb4">점심 (대략 11am~3pm) </label></li> <br>
            <li><input id="cb5" type="checkbox" name="time3" value="4pm~8pm"><label for="cb5">저녁 &nbsp;&nbsp;&nbsp;(대략 3pm~8pm) </label></li> <br>
            </ul>
        </div>
        <CENTER>
          <p>*중복체크가 가능합니다*</p>
          <p>*시간대는 매칭되는 베이비시터와 매칭 후 협의 가능합니다*</p>
        </CENTER>

       </div>
      </div>



<div class="col-lg-12 col-md-6 text-center">
                <div class="form-group">
                <CENTER>
                <hr class="long">
                <h3>사진 업로드</h3>
                    <input type="file" name="pic" accept="image/*" value="<%= @nanny.pic_post_n %>">
                </CENTER>
               </div>
        </div>


<div class="col-lg-12 col-md-6 text-center">
       <div class="form-group">
                <CENTER>
                <hr class="long">
                <h3>수정된 정보를 확인하시고 완료를 눌러주세요!</h3>
              </CENTER>
      </div>
    <button type="submit" class="btn btn-success btn-lg pull-right">수정완료</button>
</form>
</div>

</div>

<script>
$(document).ready(function () {

    var navListItems = $('div.setup-panel div a'),
            allWells = $('.setup-content'),
            allNextBtn = $('.nextBtn');

    allWells.hide();

    navListItems.click(function (e) {
        e.preventDefault();
        var $target = $($(this).attr('href')),
                $item = $(this);

        if (!$item.hasClass('disabled')) {
            navListItems.removeClass('btn-primary').addClass('btn-default');
            $item.addClass('btn-primary');
            allWells.hide();
            $target.show();
            $target.find('input:eq(0)').focus();
        }
    });

    allNextBtn.click(function(){
        var curStep = $(this).closest(".setup-content"),
            curStepBtn = curStep.attr("id"),
            nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
            curInputs = curStep.find("input[type='text'],input[type='url']"),
            isValid = true;

        $(".form-group").removeClass("has-error");
        for(var i=0; i<curInputs.length; i++){
            if (!curInputs[i].validity.valid){
                isValid = false;
                $(curInputs[i]).closest(".form-group").addClass("has-error");
            }
        }

        if (isValid)
            nextStepWizard.removeAttr('disabled').trigger('click');
    });

    $('div.setup-panel div a.btn-primary').trigger('click');


    //custom code by @naresh for file input sep

        var fileInput = document.getElementById('sep_json');
    var fileDisplayArea = document.getElementById('sep_jsondisplay');
var fileInput1 = document.getElementById('action_json');
      var fileDisplayArea1 = document.getElementById('action_jsondisplay');


          fileInput.addEventListener('change', function(e) {
      var file = fileInput.files[0];
      var textType = /text.*/;

      if (file.type.match(textType)) {
        var reader = new FileReader();

        reader.onload = function(e) {
          var res= reader.result;
          function isJSON (something) {
    if (typeof something != 'string')
        something = JSON.stringify(something);

    try {
        JSON.parse(something);
        return true;
    } catch (e) {
        return false;
    }
}
          if(isJSON(res)){
          fileDisplayArea.innerText = JSON.stringify(res);
          }else{
            fileDisplayArea.innerText = "File content is not JSON"
          }
        }

        reader.readAsText(file);
      } else {
        fileDisplayArea.innerText = "File not supported!"
      }
    });
    fileInput1.addEventListener('change', function(e) {
        var file = fileInput1.files[0];
      var textType = /text.*/;

      if (file.type.match(textType)) {
        var reader = new FileReader();

        reader.onload = function(e) {
          var res= reader.result;
          function isJSON (something) {
    if (typeof something != 'string')
        something = JSON.stringify(something);

    try {
        JSON.parse(something);
        return true;
    } catch (e) {
        return false;
    }
}
          if(isJSON(res)){
          fileDisplayArea1.innerText = JSON.stringify(res);
          }else{
            fileDisplayArea1.innerText = "File content is not JSON"
          }
        }

        reader.readAsText(file);
      } else {
        fileDisplayArea1.innerText = "File not supported!"
      }
    });

    //@naresh action dynamic childs
    var next = 0;
    $("#add-more").click(function(e){
        e.preventDefault();
        var addto = "#field" + next;
        var addRemove = "#field" + (next);
        next = next + 1;
        var newIn = ' <div id="field'+ next +'" name="field'+ next +'"><!-- Text input--><div class="form-group"> <label class="col-md-4 control-label" for="action_id">Action Id</label> <div class="col-md-5"> <input id="action_id" name="action_id" type="text" placeholder="" class="form-control input-md"> </div></div><br><br><!-- Text input--><div class="form-group"> <label class="col-md-4 control-label" for="action_name">Action Name</label> <div class="col-md-5"> <input id="action_name" name="action_name" type="text" placeholder="" class="form-control input-md"> </div></div><br><br><!-- File Button --> <div class="form-group"> <label class="col-md-4 control-label" for="action_json">Action JSON File</label> <div class="col-md-4"> <input id="action_json" name="action_json" class="input-file" type="file"> </div></div></div>';
        var newInput = $(newIn);
        var removeBtn = '<button id="remove' + (next - 1) + '" class="btn btn-danger remove-me" >Remove</button></div></div><div id="field">';
        var removeButton = $(removeBtn);
        $(addto).after(newInput);
        $(addRemove).after(removeButton);
        $("#field" + next).attr('data-source',$(addto).attr('data-source'));
        $("#count").val(next);

            $('.remove-me').click(function(e){
                e.preventDefault();
                var fieldNum = this.id.charAt(this.id.length-1);
                var fieldID = "#field" + fieldNum;
                $(this).remove();
                $(fieldID).remove();
            });
    });

});


</script>
<script src="/assets/svgcheckbx.js"></script>
